.group-input {
  width: 100%;
  margin-bottom: 10px;
}

.create-group-button,
.create-roadmap-button {
  margin-top: 10px;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  &:hover {
    background-color: #388e3c;
  }
}

.group-card {
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
}

.roadmaps-list {
  margin-top: 20px;
}

.roadmap-card {
  background: #424242;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  color: white;
}
